@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Honk Chat";
  src: url("/fonts/HonkChat-Medium.woff2") format("woff2"),
    url("/fonts/HonkChat-Medium.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Honk Sans */
@font-face {
  font-family: "Honk Sans";
  src: url("/fonts/HonkSans-Regular.woff2") format("woff2"),
    url("/fonts/HonkSans-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Honk Sans";
  src: url("/fonts/HonkSans-Medium.woff2") format("woff2"),
    url("/fonts/HonkSans-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Honk Sans";
  src: url("/fonts/HonkSans-SemiBold.woff2") format("woff2"),
    url("/fonts/HonkSans-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Honk Sans";
  src: url("/fonts/HonkSans-Bold.woff2") format("woff2"),
    url("/fonts/HonkSans-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Honk Header */
@font-face {
  font-family: "Honk Header";
  src: url("/fonts/HonkHeader-Bold.woff2") format("woff2"),
    url("/fonts/HonkHeader-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}
